header {
  margin: 0 0 39px 0;
  height: 88px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #f8f9fa;
  box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
}
header .content {
  display: flex;
  flex-direction: row;
  height: 88px;
  width: 1000px;
  align-items: center;
  justify-content: space-between;
}
header h1 {
  color: #fd377e;
}
header span {
  color: #212529;
}
header button {
  color: #868e96;
  height: 40px;
  width: 64px;
  background-color: #e9ecef;
  border: 0ch;
  border-radius: 8px;
}

@media (max-width: 1050px) {
  header .content {
    display: flex;
    flex-direction: row;
    height: 88px;
    width: 1000px;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
}
