.Container {
  display: flex;
  margin: 100px;
  width: 1000px;
  display: flex;
  /* align-items: ; */
  /* justify-content: ; */
  margin: 0%;
}

.divMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  /* width: 100%; */
}

@media (max-width: 1050px) {
  .Container {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
    width: 64%;
  }
  .divMain {
    display: flex;
    align-items: center;
    /* width: 100%; */
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media (min-width: 656px) {
}
